<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto</title>
</head>
<body>
    {{{body}}}
    <nav class="menu-lateral">
    <div class="btn-expandir">
        <i class="bi bi-list-task"></i>
    </div>
    <ul>
        <li class="item-menu">
            <a href="/login"!>
                <span class="icon"><i class="bi bi-box-arrow-in-left"></i></span>
                <span class="txt-link">LOGIN</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/cadastro"!>
                <span class="icon"><i class="bi bi-box-arrow-right"></i></span>
                <span class="txt-link">CADASTRAR</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/perfil"!>
                <span class="icon"><i class="bi bi-person-circle"></i></span>
                <span class="txt-link">PERFIL</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/feed"!>
                <span class="icon"><i class="bi bi-reception-4"></i></span>
                <span class="txt-link">FEED</span>
            </a>
        </li>
        <li class="item-menu">
            <a href="/postagem"!>
                <span class="icon"><i class="bi bi-camera"></i></span>
                <span class="txt-link">POSTAR</span>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>

<style>
        body {
            height: 100vh;
            background-color: rgb(24, 23, 23);
        }
        h1{
            color: rgb(233, 233, 233);
            font-size: 30px;
            height: 35px;
        }
        div {
            text-align: center;
        }
        .img {
            height: 20%;
            width: 30%;
            object-fit: cover;
        }
        nav.menu-lateral {
            width: 70px;
            height: 100%;
            background-color: black;
            padding: 40px 0 40px 1%;
            box-shadow: 3px 0 0 white;
            position: fixed;
            top: 0;
            left: 0;
            overflow: hidden;
            transition: .3s;
        }
        .menu-lateral:hover{
            width: 270px;
        }
        .btn-expandir {
            width: 10%;
            padding-left: 10px;
        }
        .btn-expandir > i{
            color: #ffff;
            cursor: pointer;
            font-size: 40px;
        }
        ul{
            height: 100%;
            list-style-type: none;
        }
        ul li.item-menu {
            transition: .4s;

        }
        ul li.item-menu:hover{
            background: rgb(29, 184, 204);
        }
        ul li.item-menu a{
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-size: 20px;
            padding: 25px 0%;
            display: flex;
            line-height: 40px;
        }
        ul li.item-menu a .txt-link {
            margin-left: 20px;
        }
        ul li.item-menu a .icon > i{
            font-size: 30px;
            margin-left: 30px;
        }
</style>