<title>Cadastro</title>
<div>
    <form action="/cadastrado" method="post">
        <p>Digite seu nome: </p>
        <input type="text" name="users">
        <p>Dígite seu email: </p>
        <input type="text" name="email">
        <p>Dígite sua senha: </p>
        <input type="text" name="passwords">
        <p>Dígite novamente sua senha: </p>
        <input type="text" name="confirm_passwords">
        <button type="submit">CADASTRAR</button>
    </form>
</div>