<title>Feed</title>
<form action="/feed">
    <p>Digite seu nome: </p>
    <input type="text" name="user">
    <p>Dígite seu email: </p>
    <input type="text" name="email">
    <p>Dígite sua senha: </p>
    <input type="text" name="password">
    <p>Dígite novamente sua senha: </p>
    <input type="text" name="confirm_password">
    <button type="submit">CADASTRAR</button>
</form>