{{#each erros}}
<div class="alert alert-danger"><h1 class="erros">{{erro}}</h1></div>
{{/each}}
<form action="/login">
    <div>
        <h1>Clique no bot達o para Logar em sua conta</h1>
        <button type="submit">Logar</button>
    </div>
</form>
<form action="/cadastro">
    <div>
        <h1>Clique no bot達o para se cadastar caso n達o tenha uma conta ainda</h1>
        <button type="submit">Cadastrar-se</button>
    </div>
</form>
<form action="/postagem">
    <div>
        <h1>Poste algo em seu feed (Precisa estar logado)</h1>
        <button type="submit">Postar</button>
    </div>
</form>
<form action="/feed">
    <div>
        <h1>Ir para o feed (Precisa estar logado)</h1>
        <button type="submit">Feed</button>
    </div>
</form>
<form action="/deslogar" method="post">
    <div>
        <h1>Clique no bot達o para deslogar da sua conta atualmente logada</h1>
        <button type="submit">Deslogar</button>
    </div>
</form>
<style>
        body {
            background-color: rgb(24, 23, 23);
        }
        h1{
            color: rgb(233, 233, 233);
            font-size: 30px;
            height: 45px;
        }
        .erros {
            color: rgb(250, 0, 0);
            background-color: rgb(30, 0, 31);
            font-size: 30px;
            height: 35px;
        }
        div {
            text-align: center;
        }
        button {
            line-height: 20px;
            border-radius: 14px;
            width: 300px;
            font-style: initial;
            font-size: 17px;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            cursor: pointer; 
        }
</style>
