<form action="/login">
<div>
     <h1>Clique no bot達o para Logar em sua conta</h1>
     <button type="submit">Logar</button>
</div>
</form>
<form action="/cad">
<div>
    <h1>Clique no bot達o para se cadastar caso n達o tenha uma conta ainda</h1>
    <button type="submit">Cadastrar-se</button>
</div>
</form>
<form action="/deslogar" method="post">
<div>
    <h1>Clique no bot達o para deslogar da sua conta atualmente logada</h1>
    <button type="submit">Deslogar</button>
</div>
</form>

