{{#each erros}}
    <div class="alert alert-danger"><h1 class="erros">{{erro}}</h1></div>
{{/each}}

<form action="/login">
    <div>
        <h1>MENU LOGIN</h1>
        <button type="submit">Logar</button>
    </div>
</form>

<form action="/cadastro">
    <div>
        <h1>MENU CADASTRO</h1>
        <button type="submit">Cadastrar-se</button>
    </div>
</form>

<form action="/postagem">
    <div>
        <h1>PUBLICAR POSTAGEM(necessário login)</h1>
        <button type="submit">Postar</button>
    </div>
</form>

<form action="/feed">
    <div>
        <h1>FEED DE POSTAGEMS(necessário login)</h1>
        <button type="submit">Feed</button>
    </div>
</form>
<style>
        .erros {
            color: rgb(226, 29, 216);
            background-color: rgb(0, 0, 0);
            font-size: 30px;
            height: 35px;
        }
        button {
            line-height: 20px;
            border-radius: 14px;
            width: 300px;
            font-style: initial;
            font-size: 17px;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            cursor: pointer; 
        }
</style>
