<title>Happys day</title>
<form action="/login">
<div>
     <p>Clique no botão para Logar em sua conta</p>
     <button type="submit">Logar</button>
</div>
</form>
<form action="/cad">
<div>
    <p>Clique no botão para se cadastar caso não tenha uma conta ainda</p>
    <button type="submit">Cadastrar-se</button>
</div>
</form>
