{{#each erros}}
    <div class="alert alert-danger"><h1 class="erros">{{erro}}</h1></div>
{{/each}}

<form action="/logar" method="post">
<div>
    <h1>MENU DE LOGIN</h1>
    <h1>Insira seu email:</h1>
    <input type="text" name="email">
    <h1>Insira sua senha:</h1>
    <input type="password" name="passwords">
    <br></br>
    <p><button type="submit">Logar-se</button></p>
</div>
</form>
<style>
        .erros {
            color: rgb(226, 29, 216);
            background-color: rgb(0, 0, 0);
            font-size: 30px;
            height: 35px;
            margin-left: 15%;
            margin-right: 15%;
        }
        input {
            height: 20px;
            text-align: center;
            border-radius: 4px;
            font-size: 15px;
        }
        button {
            line-height: 20px;
            border-radius: 14px;
            width: 300px;
            font-style: initial;
            font-size: 17px;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            border: 3px solid black;
            cursor: pointer;
        }
</style>
