<title>Login</title>
<form action="/logar" method="post">
    <h1>Insira seu email:</h1>
    <input type="text" name="email">
    <h1>Insira sua senha:</h1>
    <input type="password" name="passwords">
    <p><button type="submit">Logar-se</button></p>
</form>