<title>Login</title>
<form action="/feed">
    <p>Insira seu eamil:</p>
    <input type="text" name="email">
    <p>Insira sua senha:</p>
    <input type="text" name="password">
    <p><button type="submit">Logar-se</button></p>
</form>